<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container"><br/>
    <h4 th:text="${title}">Default Title</h4>


    <center><form th:object="${newWord}" method="post">

        <div class="form-group">
            <label th:for="word">Word</label>
            <input th:field="*{word}" />
            <div th:errors="*{word}"></div>
        </div>

        <div class="form-group">
            <label th:for="definition">Definition</label>
            <input th:field="*{definition}" />
            <div th:errors="{definition}"></div>
        </div>
        <button type="button" class="btn btn-outline-danger">Add a new word</button>
    </form>
    </center>
    </form>

</body>

</html>