<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container"><br/>
    <h4 th:text="${title}">Default Title</h4>


    <center><form th:object="${Word}"  method="post">
        <div class = "form-group">
            <label th:for="word">Word</label>
            <input type="text" class="form-control" id="word" placeholder="Enter a new word" autofocus="autofocus" name="word" required><br><br>


            <label th:for="definition">Definition</label>
            <input type="text" placeholder="Enter its definition" id="definition" class="form-control" name="definition" required><br><br>

            <!--            <label th:for="cityId">City</label>-->
<!--            <select name="cityId">-->
<!--                <option th:each="city: ${cities}"-->
<!--                        th:text="${city.name}"-->
<!--                        th:value="${city.id}"></option>-->
<!--            </select>-->
<!--            <br><br>-->
            <input type="submit" class="btn btn-outline-danger" value="Add new word" />
        </div> </form> </center> </div>
</div>
</body>

</html>