
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container"><br/>
    <h4 th:text="${title}">Default Title</h4>


    <center><form th:object="${User}" method="post">
        <div class="form-group col-md-6">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="Username" autofocus="autofocus"/> <!--th:field="*{username}"-->
            <span errors="username" class="error"></span>
            <br>
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password"/> <!--th:field="*{password}"-->
            <span errors="password" class="error"></span>
<!--            <span class="error" th:text="${loginpassword}"></span>-->
            <br>
            <button type="submit" class="btn btn-outline-danger">Log In</button>
            </br>
        </div>
        <div>
            <label form="text">Don't have an account? You can register <a href="register">here.</a></label>
            <br>

        </br>
        </div>
    </form>
    </center>
</div>
</body>

<!--</html>-->