<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container"><br/>
    <h4 th:text="${title}">Default Title</h4>


    <center><form th:object="${user}" method="post">>
        <div class="form-group col-md-6">
            <label th:for="*{text}">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username" th:field="*{username}"/>
            <span th:errors="*{username}" class="error"></span>
        <br>
            <label th:for="*{password}">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}"/>
            <span th:errors="*{password}" class="error"></span>
        <br>
        <button type="submit" class="btn btn-outline-danger">Log In</button>
        </br>
        </div>
        <div>
            <label form="text">Don't have an account? You can register <a href="register">here.</a></label>
        </div>
    </center>
    </form>

</body>

</html>