<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">
</head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container"><br/>
    <h4 th:text="${title}">Default Title</h4>
    <center><input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for a word you know to find its translation"></center>

    <p th:unless="${newWords} and ${newWords.size()}">No words added yet.</p>

    <table id="myTable" class="table">
        <tr class="header">
            <th style="width:60%;">Word</th>
            <th style="width:40%;">Translation</th>
        </tr>

            <tr th:each="newWord : ${newWords}">
                <td th:text="${newWord.word}"></td>
                <td th:text="${newWord.definition}"></td>
<!--                <td th:text="${newWord.word}"></td>-->
<!--                <input type="checkbox" name="wordIds" th:value="${newWord.id}" th:id="${newWord.id}"/>-->
<!--                <label th:for="${newWord.id}" th:text="${newWord.word}"></label>-->
            </tr>
        <form method="post">


<!--            <input type="submit" value="Remove Cheese" />-->
        </form>
        </table>
</div>
<center><div><a class="btn btn-outline-danger" th:href="@{'/add'}">Add a New Word</a></div></center>
<center><label form="text">If you would like to <b>log out</b>, click <b><a href="logout">here.</a></b></label></center>
</body>
<script type="text/javascript" src="js/script.js"></script>
</html>


