<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head">
</head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container"><br/>
    <h4 th:text="${title}">Default Title</h4>

<!--    <div id="cover">-->
<!--        <form method="get" action="">-->
<!--            <div class="tb">-->
<!--                <div class="td"><input class="searchtext" id="myInput" onkeyup="myFunction()" type="text" placeholder="Search" required></div>-->
<!--                <div class="td" id="s-cover">-->
<!--                    <button class="searchbutton" type="submit">-->
<!--                        <div id="s-circle"></div>-->
<!--                        <span></span>-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for the Words You Know">
    <p th:unless="${newWords} and ${newWords.size()}">No words added yet.</p>

    <table id="myTable">
        <tr class="header">
            <th style="width:60%;">Name</th>
            <th style="width:40%;">Definition</th>
        </tr>
    <div>
    <table id="myTable" class="table">

        <tr>

        </tr>

        <tr th:each="newWord : ${newWords}">
            <td th:text="${newWord.word}"></td>
            <td th:text="${newWord.definition}"></td>
        </tr>

    </table>
    </div>
</div>
</body>
</html>